{{#> layouts/base }}
  {{#*inline "content-block"}}

  <main class="main" data-router-wrapper>

    <div data-router-view="index">

      <div class="grid-wrapper">
        <div class="grid">

          <!-- <div class="item test-item">
            <img src="https://www.apa.org/images/2020-03-feature-giraffe_tcm7-269465.png" loading="lazy" alt="">
          </div>

          <div class="item test-item">
            <img src="https://cdn.britannica.com/s:900x675/80/140480-131-28E57753/Dromedary-camels.jpg" loading="lazy" alt="">
          </div>

          <div class="item test-item">
            <img src="https://aldf.org/wp-content/uploads/2018/05/lamb-iStock-665494268-16x9-e1559777676675-1200x675.jpg" loading="lazy" alt="">
          </div> -->


          <div class="item" data-width="1200" data-height="800">
            <img src="../assets/k1.jpeg" loading="lazy" alt="фотография Сани Крушкина">
          </div>
          <div class="item item--vertical" data-width="800" data-height="1200">
            <img src="../assets/k8.jpg" loading="lazy" alt="фотография Сани Крушкина">
          </div>
          <div class="item item--vertical" data-width="800" data-height="1200">
            <img src="../assets/k9.jpg" loading="lazy" alt="фотография Сани Крушкина">
          </div>
          <div class="item" data-width="1200" data-height="800">
            <img src="../assets/k2.jpeg" loading="lazy" alt="фотография Сани Крушкина">
          </div>
          <div class="item item--vertical" data-width="800" data-height="1200">
            <img src="../assets/k8.jpg" loading="lazy" alt="фотография Сани Крушкина">
          </div>
          <div class="item" data-width="1200" data-height="800">
            <img src="../assets/k3.jpeg" loading="lazy" alt="фотография Сани Крушкина">
          </div>
          <div class="item item--vertical" data-width="800" data-height="1200">
            <img src="../assets/k9.jpg" loading="lazy" alt="фотография Сани Крушкина">
          </div>
          <div class="item" data-width="1200" data-height="800">
            <img src="../assets/k4.jpeg" loading="lazy" alt="фотография Сани Крушкина">
          </div>
          <div class="item" data-width="1200" data-height="800">
            <img src="../assets/k5.jpeg" loading="lazy" alt="фотография Сани Крушкина">
          </div>
          <div class="item item--vertical" data-width="800" data-height="1200">
            <img src="../assets/k8.jpg" loading="lazy" alt="фотография Сани Крушкина">
          </div>
          <div class="item" data-width="1200" data-height="800">
            <img src="../assets/k6.jpeg" loading="lazy" alt="фотография Сани Крушкина">
          </div>
          <div class="item" data-width="1200" data-height="800">
            <img src="../assets/k7.jpeg" loading="lazy" alt="фотография Сани Крушкина">
          </div>

        </div>
      </div>

    </div>

  </main>

  {{/inline}}
{{/layouts/base}}
