<header class="header">
  <div class="wrapper">
    <a href="/">
      <h3 class="header__title">
        Krooshkin
      </h3>
    </a>
    <div class="toggle-menu">
      <div class="toggle-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <ul class="desktop-navigation">
      <li class="navigation-link">
        <a href="/contacts/">
          Контакты
        </a>
      </li>
      <li class="navigation-link">
        <a href="/about/">
          О сайте
        </a>
      </li>
    </ul>
  </div>
</header>
