.grid-wrapper {
  width: 100%;
  padding: 5px 10px;

  @include big {
    padding: 24px 0 0;
  }
}

.grid {
  position: relative;
  margin: 0 auto;
  opacity: 0;

  @include big {
    max-width: 90vw;
  }
}

.item {
  $w: 50;

  width: #{$w + 'vw'};
  height: #{($w/3*2) + 'vw'};
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  position: absolute;
  padding: 5px;
  border-radius: 2.5px;

  @include medium {
    $w: 25;

    border-radius: 2.5px;
    width: #{$w + 'vw'};
    height: #{($w/3*2) + 'vw'};
  }

  @include big {
    $w: 20;

    border-radius: 2.5px;
    width: #{$w + 'vw'};
    height: #{($w/3*2) + 'vw'}
  }

  &--vertical {
    @include big {
      border-radius: 2.5px;
    }
  }
}
