.grid-wrapper {
  width: 100%;
  padding: 5px 10px;

  @include big {
    padding: 24px 0 0;
  }
}

.grid {
  position: relative;
  margin: 0 auto;
  opacity: 0;

  @include big {
    max-width: 90vw;
  }
}

.item {
  width: #{((100-4)/2) + '%'};
  height: #{(((100-4)/2)/3*2) + 'vw'};
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  position: absolute;
  padding: 5px;
  border-radius: 2.5px;

  @include medium {
    border-radius: 2.5px;
    width: #{((100-3)/4) + 'vw'};
    height: #{(((100-3)/4)/3*2) + 'vw'};
  }

  @include big {
    border-radius: 2.5px;
    width: #{((90-2)/5) + 'vw'};
    height: #{(((90-2)/5)/3*2) + 'vw'}
  }

  &--vertical {
    @include big {
      border-radius: 2.5px;
    }
  }
}
